# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.PrimaryConstructor.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\sources\open-source\PrimaryConstructor\.idea\.idea.PrimaryConstructor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
